body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff7fb;
  color: #333;
}

/* HEADER */
.header {
  background: linear-gradient(135deg, #f7c6d9, #f3d1e8);
  color: #4a4a4a;
  text-align: center;
  padding: 40px 20px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

.header p {
  margin-top: 10px;
  font-weight: 300;
}

/* CARDS */
.card {
  background: white;
  margin: 20px auto;
  padding: 22px;
  width: 85%;
  max-width: 750px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(180, 120, 150, 0.15);
}

h2 {
  color: #c07aa3;
}

/* HABILIDADES */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background: #f8dbe8;
  color: #6b4a5a;
  padding: 7px 12px;
  border-radius: 20px;
  font-size: 14px;
}

/* PROJETOS */
.project {
  background: #fff0f6;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border-left: 4px solid #d88fb3;
}

/* LINKS */
.contato a {
  color: #b5658f;
  text-decoration: none;
  font-weight: 600;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  background: #f3d1e8;
  color: #4a4a4a;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 14px;
}